name: shelfreader
description: Camera + rotate + pinch-to-zoom + save to Pictures/ShelfReader
publish_to: "none"

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.11.3
  permission_handler: ^12.0.1
  path_provider: ^2.1.4
  media_store_plus: ^0.1.3
  image: ^4.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
